//widgets

.O_note {
  width: 16.5rem;
  padding: 1rem;
  // align-items: flex-start;
  border-radius: 1rem;
  background: var(--light-orange);
  box-shadow: 0px 0px 15px 0px rgba(239, 126, 5, 0.3);

  a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  @media (max-width: 568px) {
    width: 23.5rem;
  }
}

.O_search {
  padding: 1rem;
  align-items: flex-start;
  border-radius: 1rem;
  background: var(--white);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
  align-self: stretch;
  a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &.Short {
    width: 16.5rem;
    @media (max-width: 568px) {
      width: 23.5rem;
    }
  }
  &.Long {
    width: 33.5rem;
  }
}

.O_invention {
  width: 16.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--black);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  @media (max-width: 568px) {
    width: 23.5rem;
  }
}

.O_card-text-content {
  display: flex;
  width: 15rem;
  gap: 1.2rem;

  flex-wrap: wrap;
  @media (max-width: 568px) {
    height: auto;
    display: flex;
    width: 22.0625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.28156rem;
    flex-shrink: 0;
    .A_card-title {
      height: auto;
    }
    .A_card-text {
      height: auto;
    }
    .C_tags {
      height: auto;
    }
    h4 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
    p.A_tag {
      font-size: 1rem;
    }
  }
  &.Video {
    border: 1px solid var(--white);
    padding: 0.75rem;
    position: relative;
    z-index: 1;
    border-radius: 0.75rem;
  }
}

.O_article-card {
  width: min-content;

  display: flex;
  width: auto;
  padding: 0.75rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  background: var(--white);
  @media (max-width: 568px) {
    img {
      display: none;
    }
  }
}

.O_test-card {
  display: flex;
  width: auto;
  padding: 0.75rem;
  border-radius: 1rem;
  background: var(--orange, #f4762e);
}

.O_video-card {
  display: flex;
  width: 33.5625rem;
  padding: 0.75rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.625rem;
  flex-wrap: wrap;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  position: relative;
  &::after {
    content: '';
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      111deg,
      rgba(0, 0, 0, 0.6) 15.77%,
      rgba(0, 0, 0, 0) 107.67%
    );
  }
  &.Image-type {
    background-image: url('./././images/articles/article-kletki-dlya-detki.jpg');
  }
  &.coincidance_video_cover {
    background-image: url('./././images/video/coincidance_video_cover.jpg');
  }
  &.opentalk_video_cover {
    background-image: url('./././images/video/opentalk_video_cover.jpg');
  }
  &.howto_video_cover {
    background-image: url('./././images/video/howto_video_cover.jpg');
  }
  &.better_video_cover {
    background-image: url('./././images/video/better_video_cover.jpg');
  }
  &.newest_video_cover {
    background-image: url('./././images/video/newest_video_cover.jpg');
  }
  &.fly_video_cover {
    background-image: url('./././images/video/fly_video_cover.jpg');
  }
  &.iron_sope_cover {
    background-image: url('./././images/video/iron_sope_cover.jpg');
  }
  &.old_beauty_video_cover {
    background-image: url('./././images/video/old_beauty_video_cover.jpg');
  }
  &.faster_video_cover {
    background-image: url('./././images/video/faster_video_cover.jpg');
  }
  &.winter_video_cover {
    background-image: url('./././images/video/winter_video_cover.jpg');
  }
  @media (max-width: 568px) {
    width: auto;
  }
}

//test

.O_test-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding: 0 1rem;
}

.O_test-progress-container {
  position: absolute;
  width: inherit;
  height: inherit;
  padding: 3.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1rem;
  background: var(--white);
}
.O_test-result-container {
  position: absolute;
  display: flex;
  width: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1rem;
  background: var(--orange);
}

.O_header {
  display: flex;
  width: 100%;
  padding: 0.5rem 6.25rem;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  @media (max-width: 760px) {
    padding: 0.5rem 3rem;

    .C_main-menu {
      display: none;
    }
    .M_search {
      display: none;
    }
  }
  @media (min-width: 760px) and (max-width: 800px) {
    .M_search {
      width: 10rem;
    }
  }
}

.O_footer {
  display: flex;
  height: 7rem;
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem 6.25rem;
  justify-content: space-between;
  align-items: center;
  background: var(--orange);
  @media (max-width: 760px) {
    padding: 0.5rem 3rem;

    .C_main-menu {
      display: none;
    }
    .M_search {
      display: none;
    }
  }
  @media (min-width: 760px) and (max-width: 800px) {
    .M_search {
      width: 10rem;
    }
  }
}
.O_videos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  padding: 0 5rem;

  @media (min-width: 568px) and (max-width: 696px) {
    padding: 0 1rem;
  }
}

.O_articles {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;

  @media (min-width: 568px) and (max-width: 696px) {
    padding: 0 1rem;
  }

  @media (max-width: 568px) {
    padding: 4rem 0 0 0;
  }
}

.O_tests {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;

  @media (min-width: 568px) and (max-width: 696px) {
    padding: 0 1rem;
  }
  @media (max-width: 568px) {
    padding: 0 auto;
  }
}
