<div class="O_search Short">
  <a
    href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D0%BE%D1%80%D0%B8%D1%8F_%D0%B2%D1%81%D0%B5%D0%B3%D0%BE"
    target="_blank"
  >
    <div class="W_widget-header Black">
      <h6 class="A_widget-title">запрос 3</h6>
      <sidebar-black></sidebar-black>
    </div>
    <div class="A_search-text">
      <p class="Title">Теория всего</p>
      <p>
        — гипотетическая объединённая физико-математическая теория, описывающая
        все известные фундаментальные взаимодействия.
      </p>
    </div>
  </a>
</div>
