<div class="O_search Short">
  <a
    href="https://ru.wikipedia.org/wiki/%D0%A6%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%BE%D0%B5_%D0%B1%D0%B5%D1%81%D1%81%D0%BC%D0%B5%D1%80%D1%82%D0%B8%D0%B5"
    target="_blank"
  >
    <div class="W_widget-header Black">
      <h6 class="A_widget-title">запрос 7</h6>
      <sidebar-black></sidebar-black>
    </div>
    <div class="A_search-text">
      <p class="Title">Цифровое бессмертие</p>
      <p>
        (англ. Digital immortality) — гипотетическая концепция технологии,
        позволяющей сохранять и передавать личность человека на более
        долговечных носителях информации.
      </p>
    </div>
  </a>
</div>
