<div class="O_search Short">
  <a
    href="https://ru.wikipedia.org/wiki/%D0%91%D1%83%D0%B4%D1%83%D1%89%D0%B5%D0%B5_%D0%92%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9"
    target="_blank"
  >
    <div class="W_widget-header Black">
      <h6 class="A_widget-title">запрос 5</h6>
      <sidebar-black></sidebar-black>
    </div>
    <div class="A_search-text">
      <p class="Title">Будущее Вселенной</p>
      <p>
        — вопрос, рассматриваемый в рамках физической космологии. Различными
        научными теориями предсказано множество возможных вариантов будущего.
      </p>
    </div>
  </a>
</div>
