.W_widget-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &.Black {
    color: var(--black);
  }
  &.White {
    color: var(--white);
  }
}

.W_form {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 8rem;
}

.W_socialnet {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  width: 6rem;
}
.W_section-lead {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  gap: 1rem;
  max-width: 50.5rem;
  padding: 0 2rem;

  &.Videos {
    width: 21.125rem;
  }
}

.W_test-header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
// .components {
//   background-color: black;
// }
