$pink: #f6cfe2;
$orange: #ef7c05;
$white: #f4f4f4;
$black: #001806;

body.section_1 {
  background-color: $white;
  font-family: 'Cygre', sans-serif;
  width: 100%;

  .screen_1 {
    position: relative;
    height: 36rem;
    padding: 0 13.9rem;

    > * {
      position: relative;
    }
    .cover {
      width: 67.5rem;
      height: 21rem;
      font-family: 'Voxel', sans-serif;
      font-size: 7.5rem;
      color: $orange;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url('images/articles/detki.png');
    }
  }
  .display_2 {
    position: relative;
    width: auto;
    height: 72vw;
    padding: 0 13.9vw;
    //    background-color: rgb(166, 193, 255);
    //    opacity: 15%;
    .text {
      font-size: 1.875vw;
      line-height: 3vw;
      top: 5vw;
      left: 13.9vw;
      right: 13.9vw;
      position: absolute;
    }
    p::first-letter {
      font-family: 'Mutabor', sans-serif;
      font-size: 7vw;
      color: #dfa532;
    }
  }
  .display_3 {
    position: relative;
    width: auto;
    height: 32vw;
    padding: 0 13.9vw;

    .main {
      top: 0vw;
      font-size: 1.9vw;
      left: 13.9vw;
      position: absolute;
      color: #dfa532;
    }

    .rac_1 {
      background-color: #eaeaea;
      position: absolute;
      width: 23.3vw;
      height: 18.3vw;
      top: 3.5vw;
      left: 13.9vw;
      border-radius: 20px;

      .w_3 {
        position: absolute;
        height: 2.4vw;
        width: 12.6vw;
        border-radius: 20px;
        background: #fff;
        top: 0.6vw;
        left: 0.8vw;
      }
      .on_w {
        position: absolute;
        font-size: 1.25vw;
        top: 1vw;
        left: 2.3vw;
      }
      .car {
        position: absolute;
        font-size: 2.1vw;
        top: 11.7vw;
        left: 1.2vw;
      }
      .pro_car {
        position: absolute;
        font-size: 1.1vw;
        top: 14.6vw;
        left: 1.2vw;
      }
    }
    .rac_2 {
      position: absolute;
      width: 35.6vw;
      height: 18.3vw;
      top: 3.5vw;
      left: 38.3vw;
      border-radius: 15px;
      img {
        position: absolute;
        width: 35.6vw;
        height: 18.3vw;
        border-radius: 15px;
      }
      .w_4 {
        position: absolute;
        height: 2.4vw;
        width: 9.4vw;
        border-radius: 20px;
        background: #fff;
        top: 0.6vw;
        left: 0.8vw;
      }
      .on_w4 {
        position: absolute;
        font-size: 1.25vw;
        top: 1vw;
        left: 2.3vw;
      }
      .w_5 {
        position: absolute;
        height: 2.4vw;
        width: 13.7vw;
        border-radius: 20px;
        background: #fff;
        top: 0.6vw;
        left: 10.7vw;
      }
      .on_w5 {
        position: absolute;
        font-size: 1.25vw;
        top: 1vw;
        left: 12.2vw;
      }
      .look {
        position: absolute;
        font-size: 2.1vw;
        top: 11.7vw;
        left: 1.2vw;
        color: white;
      }
      .pro_look {
        position: absolute;
        font-size: 1.1vw;
        top: 14.6vw;
        left: 1.2vw;
        color: white;
      }
    }
  }
  .rac_3 {
    background-color: #eaeaea;
    position: absolute;
    width: 11.3vw;
    height: 18.3vw;
    top: 3.5vw;
    left: 74.9vw;
    border-radius: 20px;

    .w_6 {
      position: absolute;
      height: 2.4vw;
      width: 9.4vw;
      border-radius: 20px;
      background: #fff;
      top: 0.6vw;
      left: 0.8vw;
    }
    .on_w6 {
      position: absolute;
      font-size: 1.25vw;
      top: 1vw;
      left: 2.3vw;
    }
    .sloop {
      position: absolute;
      font-size: 2.1vw;
      top: 11.7vw;
      left: 1vw;
    }
    .pro_sloop {
      position: absolute;
      font-size: 1.1vw;
      top: 14.6vw;
      left: 1.2vw;
    }
  }
  .podvalik {
    position: relative;
    width: auto;
    height: auto;

    .podval {
      position: absolute;
      width: 100vw;
      height: auto;
    }
    .title {
      position: absolute;
      font-family: 'Mutabor', sans-serif;
      font-size: 2vw;
      color: white;
      top: 3.3vw;
      left: 13.9vw;
    }
    .form {
      position: absolute;
      font-size: 1.6vw;
      color: white;
      top: 2.2vw;
      left: 38.3vw;
      line-height: 1.7vw;
    }
  }
}
