<div class="O_header">
  <form action="/">
    <button class="A_logo Black">ПАРАШУТ</button>
  </form>
  <div class="C_main-menu">
    <form action="../articles.html">
      <button class="A_main-menu">статьи</button>
    </form>
    <form action="../tests.html">
      <button class="A_main-menu">тесты</button>
    </form>
    <form action="../videos.html">
      <button class="A_main-menu">видео</button>
    </form>
    <form action="">
      <button class="A_main-menu" style="color: var(--orange)">музей</button>
    </form>
  </div>
  <form>
    <input class="M_search" type="text" placeholder="найти..." />
  </form>
</div>
