<div class="O_tests">
  <h2 class="A_title-text">больше тестов</h2>
  <div class="C_tests">
    <div class="O_test-card">
      <a href="../tests/unusual-horse.html">
        <div class="O_card-text-content">
          <h4 class="A_card-title White">Необычная лошадь</h4>
          <div class="C_tags White">
            <p class="A_tag">смешное</p>
            <p class="A_tag">бытовое</p>
            <p class="A_tag">промышленность</p>
          </div>
          <p class="A_card-text Test-Article">
            Тест по&nbsp;статье &laquo;вот это киберпанк&raquo; . смело
            проверяйте свои знания
          </p>
        </div>
      </a>
    </div>
    <search9></search9>

    <div class="O_test-card">
      <a href="../tests/just-lightning.html">
        <div class="O_card-text-content">
          <h4 class="A_card-title White">Просто молния</h4>
          <div class="C_tags White">
            <p class="A_tag">современнное</p>
            <p class="A_tag">смешное</p>
            <p class="A_tag">интересное</p>
          </div>
          <p class="A_card-text Test-Article">
            Проверьте, насколько вы&nbsp;запомнили статью про необычное авто
          </p>
        </div>
      </a>
    </div>
    <div class="O_test-card">
      <a href="../tests/not-the-least-bit-weird.html">
        <div class="O_card-text-content">
          <h4 class="A_card-title White">Ни капельки ни странно</h4>
          <div class="C_tags White">
            <p class="A_tag">бытовое</p>
            <p class="A_tag">современное</p>
            <p class="A_tag">интересное</p>
          </div>
          <p class="A_card-text Test-Article">
            Хорошо&nbsp;ли вы&nbsp;запомнили статью &laquo;Ни&nbsp;капельки
            не&nbsp;странно&raquo;?
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
