<div class="O_tests">
  <h2 class="A_title-text">больше тестов</h2>
  <div class="C_tests">
    <div class="O_test-card">
      <a href="articles.html">
        <div class="O_card-text-content">
          <h4 class="A_card-title White">example</h4>
          <div class="C_tags White">
            <p class="A_tag">example</p>
            <p class="A_tag">example</p>
            <p class="A_tag">example</p>
          </div>
          <p class="A_card-text Test-Article">example</p>
        </div>
      </a>
    </div>
    <div class="O_search Short">
      <a href="articles.html">
        <div class="W_widget-header Black">
          <h6 class="A_widget-title">запрос 1</h6>
          <sidebar-black></sidebar-black>
        </div>
        <div class="A_search-text">
          <p class="Title">Информационная эра</p>
          <p>
            (англ. Information Age, также известная как эра компьютеров или
            информационная эпоха (электронная эпоха)) — продолжающийся период в
            истории человечества.
          </p>
        </div>
      </a>
    </div>
    <div class="O_test-card">
      <a href="articles.html">
        <div class="O_card-text-content">
          <h4 class="A_card-title White">example</h4>
          <div class="C_tags White">
            <p class="A_tag">example</p>
            <p class="A_tag">example</p>
            <p class="A_tag">example</p>
          </div>
          <p class="A_card-text Test-Article">example</p>
        </div>
      </a>
    </div>
    <div class="O_test-card">
      <a href="articles.html">
        <div class="O_card-text-content">
          <h4 class="A_card-title White">example</h4>
          <div class="C_tags White">
            <p class="A_tag">example</p>
            <p class="A_tag">example</p>
            <p class="A_tag">example</p>
          </div>
          <p class="A_card-text Test-Article">example</p>
        </div>
      </a>
    </div>
  </div>
</div>
