<div class="O_articles">
  <h2 class="A_title-text">больше статей</h2>
  <div class="C_articles">
    <div class="O_article-card">
      <a href="../articles/speed-i-am-speed.html" target="_blank">
        <!-- <img
          src="../images/cards/sharolet-card-cover.jpg"
          alt="дядя с трубой"
          class="A_card-cover"
        /> -->
        <div class="O_card-text-content">
          <h4 class="A_card-title Orange">cкорость. я — скорость</h4>
          <div class="C_tags Orange">
            <p class="A_tag">ссср</p>
            <p class="A_tag">старинное</p>
            <p class="A_tag">промышленность</p>
          </div>
          <p class="A_card-text Test-Article">
            турбо режим и реактивный двигатель: как создавали самый быстрый
            автомобиль
          </p>
        </div>
      </a>
    </div>
    <div class="O_article-card">
      <a href="../articles/cooler-than-lightning.html" target="_blank">
        <!-- <img
          src="../images/cards/sharolet-card-cover.jpg"
          alt="дядя с трубой"
          class="A_card-cover"
        /> -->
        <div class="O_card-text-content">
          <h4 class="A_card-title Orange">круче молнии маквин</h4>
          <div class="C_tags Orange">
            <p class="A_tag">бытовое</p>
            <p class="A_tag">старинное</p>
            <p class="A_tag">интересное</p>
            <p class="A_tag">постиндустриальное</p>
          </div>
          <p class="A_card-text Test-Article">
            самый необычный способ передвижения обнаружен! такого вы еще не
            видели
          </p>
        </div>
      </a>
    </div>
    <div class="O_note">
      <a href="">
        <div class="W_widget-header Black">
          <h6 class="A_widget-title">заметка 1</h6>
          <sidebar-black></sidebar-black>
        </div>
        <h4 class="A_note-text">
          сегодня наблюдал за виртуальными флуктуациями
        </h4>
      </a>
    </div>
    <div class="O_article-card">
      <a href="../articles/lets-read.html" target="_blank">
        <!-- <img
          src="../images/cards/sharolet-card-cover.jpg"
          alt="дядя с трубой"
          class="A_card-cover"
        /> -->
        <div class="O_card-text-content">
          <h4 class="A_card-title Orange">почитаем лежа?</h4>
          <div class="C_tags Orange">
            <p class="A_tag">бытовое</p>
            <p class="A_tag">старинное</p>
            <p class="A_tag">постиндустриальное</p>
          </div>
          <p class="A_card-text Test-Article">
            вы не поверите, но данное изобретение из 1936 года продаётся даже
            сейчас
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
